.sidebar {
    /* existing sidebar styles */
    width: 130px;
    position: sticky;
    top: 0;
}

.profile {
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
    margin-bottom: 32px;
    word-spacing: 140px;
}

.profile a {
    display: block;
    font-size: 18px;
    color: #000; /* Button text color */
    letter-spacing: -0.2px;
    font-weight: bold; 
    text-decoration: none;
    line-height: 1em;
}

.profile .mobile-name {
    display: none;
}

.button-group, .external-links {
    display: block;
    justify-content: space-between;
    margin-bottom: 32px;    
}

.external-links a.youtube {
    background-color: red; /* Red background for YouTube link */
    color: white; /* White text */
    display: block;
}

.external-links a.noblankspace {
    border: 2px solid black; /* 2px black border */
    letter-spacing: -0.7px;
}

.external-links a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    letter-spacing: -0.2px;
}

.button-group a {
    display: block;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000; /* Button text color */
    border-bottom: 1px solid #000; /* Vertical line */
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 1.2em;
}

.button-group a:last-child {
    border-bottom: none;
}

@media (max-width: 600px) {
    .sidebar {
        /* existing sidebar styles */
        width: 100%;
        display: flex;
        position: relative;
        top: 0;
        margin-bottom: 0px;
        padding: 0px;
    }

    .profile {
        padding: 0px; /* Adjust padding as needed */
        margin-bottom: 0px;   
        word-spacing: 0px;
    }
    
    .profile a {
        display: flex;
        font-size: 18px;
        color: #000; /* Button text color */
        letter-spacing: -0.2px;
        font-weight: bold; 
        text-decoration: none;
        line-height: 1em;
    }

    .button-group a, .external-links a {
        /* Example: Make the links full-width */
        width: 100%;
        text-align: center; /* Center the text if desired */
        line-height: 1em;
    }

    .button-group, .external-links {
        display: flex;
        justify-content: space-between; 
        margin-bottom: 0px;     
        padding: 0px;
    }
    
    .button-group a {
        display: flex;
        text-decoration: none;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 0px;
        color: #000; /* Button text color */
        border-bottom: 0px solid #000; /* Vertical line */
        font-size: 18px;
        letter-spacing: -0.2px;
    }

    .external-links {
        display: none;
    }


    .profile .desktop-name {
        display: none;
    }
    .profile .mobile-name {
        display: inline; /* or block, depending on your layout */
    }
}

@media (min-width: 601px) {
    .profile .desktop-name {
        display: block;
    }
    .profile .mobile-name {
        display: none;
    }
}
