
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 50px; /* Add padding */
    margin: auto; /* Center the container */
    box-sizing: border-box; /* Include padding in the width */
    gap: 50px;
}

.content {
    flex: 1;
    min-width: 280px; /* Adjust minimum width as needed */
    max-width: 600px;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    letter-spacing: -0.4px;
    color: #1c1c1c;
    font-weight: regular;
}

h1 {
    font-size: 24px;
}

a {
    font-size: 17px;
    line-height: 1.2em;
    color: #1c1c1c;
    text-decoration:underline;
    line-height: 1em;
}

/* Responsive Design for Mobile Screens */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 4px;
        gap: 4px;
    }

    .sidebar {
        width: 100%;
        order: -1; /* This places the sidebar above the content */
        position: relative; /* Resets sticky positioning on mobile */
    }

    .content {
        width: 100%; /* Ensures content takes full width on mobile */
    }
}
